@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Montserrat:wght@100&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@font-face {
    font-family: 'Millik';
    src: url('./Fonts/Millik.otf'),
         url('./Fonts/Millik.ttf') format('ttf'),
         url('./Fonts/Millik.ttf') format('truetype');   
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'Moderrat';
  src: url('./Fonts/Moderrat.otf'),
         url('./Fonts/Moderrat.otf') format('ttf'),
         url('./Fonts/Moderrat.otf') format('truetype');   
  

}

*{
    padding: 0;
    margin: 0;
   
}


body{
    background-color: #fff;
    font-family: 'Inter';  
    text-decoration: none;
    max-width: 100%;
    overflow-x: hidden;
}

/* Navbar */
nav{
    height: 80px;
    width: 100%;
   
  }
  svg{
    width: 140px;
  }
  label.logo{ 
    font-size: 35px;
    line-height: 80px;
    padding: 0 40px;
    font-weight: bold;
    margin-top: 20px;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: #000000;
    font-size: 14px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    font-weight:400;
  }
  a.active,a:hover{
  cursor: pointer;
    transition: .5s;
  }
  .btn{
    background-color: #eee;
    border: 20px;
    padding: 20px;
    width: 80px;
  }
  .checkbtn{
    font-size: 30px;
    color: #111;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      /* background: #2c3e50; */
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 40px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
   





/* Hero section */
.hero_section{
    margin: 50px 40px 11px;
    
}
.header_text{
font-family: 'Yeseva One', cursive;
font-style: normal;
font-weight: 800;
font-size: 100px;
line-height: 120px;
max-width: 800px;
font-family: "Millik";
margin-bottom: 20px;
}
.header_text span{
color: #FB9129;
}
.tagline{
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 32px;
}
.cta_account{
    margin-top: 2%;
    margin-bottom: 20px;
   background-color: #0A0E27;
   color: #fff;
   width: 250.7px;
height: 70px;
border-radius: 10px;
border: none;
padding: 15px;
margin-right: 20px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold;
font-size: 15px;

}
.cta_account.sales{
    background-color: #eee;
    color: #000000;
   font-weight: bolder;
    font-family: monospace;
    font-size: 15px;
    
}
.cta_account:hover, .cta_account.sales:hover{
    cursor: pointer;
}
/* second section */
img{
    max-width: 100%;
}

.footcity_image{
    margin-top: 00px;
    height: 760px;
    width: 790px;
    position: relative;
    top: 200px;

   
}
.second_section{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 3px;
 
}
.famasi_image{
 margin-left: 5px; 
 

}
.caption_second{
position: relative;
right: 0;
left: 800px;
top: 0px;
max-width: 35%;
margin-top: 50px;
font-weight: 250;
font-size: 1.4rem;
}



/* trusted companies section */
.associated_companies_section{
    margin-top: 200px;
    margin: 50px 30px;

}
.trust_text{
    font-weight: 400;
    display: flex;
    line-height: 4;
   
}
.trust_text span{
    font-weight: 700;
}
.companies{
    display: flex;
    gap: 50px;
    /* flex-wrap: wrap; */
    
}
.businesses{
    /* margin-left: 22%; */
    
}

/* third section */
.payment_tools{
    font-family: "Millik";
    margin-top: 50px;
    font-style: normal;
font-weight: 600;
font-size: 70px;
line-height: 90px;
max-width: 50%;
margin: 50px 30px;

}
.payment_tools span{
    color: #FB9129;
    
}
/* payment section */
.checkout_img{
  width: 100%;
  flex-shrink: 0;
  max-height:800px;
  min-width: 100%;
width: 400px;

  height:auto;
  filter: drop-shadow(0 4px 20px rgba(0,0,0,.2));
}
.feature_1{
    max-width: 30%;
    justify-self: center;
    align-self: center;

}
.feature_1 h4,.feature_1 p, .last_features h4, .last_features p{
    font-size: 20px;
    line-height: 2.5;
}
.check_image{

}
.last_features{
    max-width: 30%;
    justify-content: center;
    align-self: center;

}
.payment_section{
    display: flex;
    width: 100%;
    gap: 40px;
    margin: 50px 20px;
}
.payment_section a{
    color: #FB9129;
    font-weight: bold;
}
.payment_section button{
    margin-top: 2%;
   background-color: #0A0E27;
   color: #fff;
   width: 150.7px;
height: 50px;
border-radius: 10px;
border: none;
padding: 15px;
margin-right: 20px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold;
font-size: 20px;
}
a{
    text-decoration: none;
}

/* Buiding section */
.build_sec{

background: #f8fafd;
width: 100%;
/* padding: 200px;
padding-bottom: 200px; */

}

.build_sec h3 span{
  color: #35A162;
}
.info_sell{
  display: flex;
  font-family: "Moderrat";
  letter-spacing: 1px;
 
}
.info_sell .info_sell_text{
  max-width: 40%;
  line-height: 2;
}
.info_sell .info_sell_text p{
  font-size: 20px;
  font-weight: 300;
}
.info_sell .info_sell_text h3{
  font-weight: 900;
}
.info_sell img{
  min-width: 100%;
  margin-bottom: -10px;
}
/* 2nd features */
.invoice_details{
  display: flex;
 gap: 20px;
 font-size: larger;
 
}
.invoice_details div{
  justify-self: center;
  align-self: center;
font-family: "Moderrat", sans-serif;
max-width: 40%;
font-weight: 500;
}

.last_header_info{
font-family: "Moderrat", sans-serif;
font-size:80px;
line-height:110px;
vertical-align:baseline;
margin:0px 0px 48px;
font-weight: 300;
max-width: 95%;
}

/* card section */
.card_section{
  background-color:#000000;
  color: #fff;
min-width: 100%;
}
.card_section h3{
  font-family: "Millik";
  font-size: 80px;
  max-width: 100%;
  text-align: center;

}
.card_section p{
  font-family:'Moderrat', sans-serif;
  text-align: center;

  max-width: 50%;
  font-size: 22px;
 
}
.card_section span{
  color:#6672C7;
}
.card_section button{
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Complex card */
.container1 {
  position: relative;
  width: 350px;
  height: 440px;
}

.card1 {
   position: absolute;
  top: 800px;
  left: 400px; 
  margin: 70px auto; 
  backdrop-filter: blur(20px);
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(0deg, rgba(40,44,52,1) 0%, rgba(17,0,32,.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: .7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: .5s all;

  width: 450px;
  height: 280px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.4s cubic-bezier(0.28, 0.55, 0.385, 1.65);
  transition: 0.4s cubic-bezier(0.28, 0.55, 0.385, 1.65);
  cursor: pointer;
  display: flex;
/* justify-content: start; */
align-items: flex-end;
gap: 200px;

}

.card1:nth-child(1) {
  z-index: 10;
  top: 0px;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.card1:nth-child(2) {
  z-index: 9;
  top: -15px;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.9;
}

.card1:nth-child(3) {
  z-index: 8;
  top: -30px;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
}

.card1:nth-child(4) {
  z-index: 7;
  top: -45px;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0.7;
}

.card1:nth-child(5) {
  z-index: 6;
  top: -60px;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6;
}

.card1:nth-child(6) {
  z-index: 5;
  top: -75px;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0.5;
}

.card1:nth-child(7) {
  z-index: 4;
  top: -90px;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
  opacity: 0.4;
}

.card1:nth-child(8) {
  z-index: 3;
  top: -105px;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
  opacity: 0.3;
}

.card1:nth-child(9) {
  z-index: 2;
  top: -120px;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transform: scale(0.2);
  transform: scale(0.2);
  opacity: 0.2;
}

.card1:nth-child(10) {
  z-index: 1;
  top: -135px;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  opacity: 0.1;
}

.card1:nth-child(11) {
  z-index: 0;
  top: -150px;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}

.card1:first-child:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.card1:last-child { 
  opacity: 0;
 }
 
.title {
  font-size: 36px;
  font-weight: 300;
  color: #FFF;
  text-align: center;
  margin-top:150px;
}

.title p {
  padding: 10px 0 0;
  font-size: 12px;
  opacity: 0.8;
}

.container { 
  margin: 100px auto;
 }

.card {
  color: rgba(0, 0, 0, 0.2);
  font-size: 12px;
  text-align: center;
}

span {
  display: inline-block;
  border-radius: 4px;
  padding: 8px 10px;
}
.card1 span{
  padding-top: 200px;
  color: #fff;
  font-weight: 200;
}

/* Semi Complex card */
.container {
  /* position: absolute; */
  height: 500px;
  width:90%;
  top: 60px;
  left: calc(30% - 300px);
  display: flex;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .card:not(:first-child) {
    margin-left: -50px;
}
.build_sec .header_text{
  font-family: "Millik";
  font-weight: 300;
  font-size: 75px;
  max-width: 100%;
  margin: 90px 40px;

 
}
.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}
.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}
}


.card {
  display: flex;
  height: 350px;
  width: 900px;
  background-color: #313131;
  box-shadow: 0 25px 50px rgba(0,0,0,.8);
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
 
}






.card_section .card_header {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 5px;
  top: 25px;
  font-size: 20px;
  min-width: 100%;
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
}
.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

.card_section .card_description{
position: relative;
  top: 5%;
  /* padding: 10px; */
  color: #fff;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* APi docs section */
.api_docs {
  margin: 50px 30px;
}
.api_docs h3{
font-family: "Millik";
color:#1D1D1D;
font-size: 80px;
font-weight: 500;
max-width: 80%;

line-height: 1;
padding: 0px;
}
.api_docs h3 span{
  color:#EB7DA7;
  background: none;
}
.api_docs p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 300;
  font-size: 30px;
  max-width: 60%;
  margin-bottom: 20px;
  
}
.api_docs ul{
  list-style-type: none;
 font-size: 25px;
 font-weight: 300;
 
}
.api_docs li{
  padding: 10px;
}
.api_docs li::before{
  
  content: "";
  display: inline-block;
  width: 30px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #0A0E27;
}

/* Global section */









/* account signup */
.account_box{
  background-color: #000000;
  width: 70%;
  margin-left: 10%;
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(29,29,29,.5);
  padding: 50px 40px;
    color: #fff;
    height: 30vh;
    margin-bottom: 200px;  
}
.account_box h3{
  font-family: "Millik";
  font-size: 50px;
}
.account_box a{
  color: #fff;
}
/* Footer */

/* media query */
@media only screen and (max-width: 768px) {
body{
  min-width: 100%;
  overflow-x: hidden;
  max-width: 100%;
  margin-left: 20px;
}
  footer{
  margin: 0;
  color: #000;
  background-color: #6672C7;

}

.header_text{
  font-size: 80px;
}
.second_section{
  display: flex;
  margin-left: 10px;
  flex-wrap: wrap;
}
#second_section{
  margin: auto;
  min-width: 100%;
}
.footcity_image, .famasi_image, .yanga-beauty, .creator_img{
  min-width: 900px;
  min-height: 500px;
  margin-left: 10px;
}
.footcity_image {
  margin-bottom: 400px;
}
.famasi_image{
  margin-bottom: 20px;
}

.companies, .info_sell{
  flex-wrap: wrap;
}

.payment_tools{
  min-width: 100%;
  font-size: 80px;
}
.payment_section{
  flex-wrap: wrap;
}
.feature_1, .last_features, .check_image, .info_sell .info_sell_text{
  max-width: 100%;
}
.check_image{
  margin: auto;
}
.info_sell:nth-child(2){
 margin-bottom: 100px;
 
}
.last_header_info{
  font-size: 30px;
  font-weight: 400;
  
}
.container{
  margin-bottom: 200px;
  margin-left: 30%;
}
.container, .card{
  flex-wrap: wrap;
  height: 250px;
  /* width: 70%; */
  top: -200px;
  left: calc(50%  200px);
  font-size: 10px;
}
.card_section .card_description{
  font-size: 19px;
  max-width: 80%;
}
.card_section{
  height: 390vh;
  width: 768px;
}
.container { 
  /* margin: 10px auto; */
max-width: 100%;
margin: 2px auto;
 }
.card{
  margin-bottom: 20px;
  left: 0px;
  max-width: 100%;
}
.container1{
  margin-bottom: 450px;
  margin-right: 10%;
 
}
.card1{
 left: 30%;
 margin-bottom: 40px;

}
.caption_second{
  left:10px;
  max-width: 100%;
  font-size: 1.8rem;
}
.caption_second .caption_second_text{
  min-width: 100%;
  font-size: 40px;
}
.card_section .card_header{
  font-size: 25px;
  font-weight: 600;
}
.api_docs h3, .api_docs p{
  max-width: 100%;
}
.companies{
  gap:5px;
}
#build_sec{
  min-width: 100%;
}

.build_sec{
  width: 100%;
  background-color: #fff;
}
.card_section{
  min-width: 100%;
}
.build_sec, .build_sec .header_text{

  width: 100%;
  background: #fff;
}
.build_sec .header_text{
  font-family: "Millik";
  font-weight: 300;
  font-size: 80px;
  max-width: 100%;


 
}
.build_sec .header_text, .famasi_image, .footcity_image{
margin-left: 20px;
/* margin-bottom: 10px; */
}
.invoice_details{
  flex-wrap: wrap;
}
.businesses{
  width: 100px;
}
.card_section p, .card_section .card_section_text{
  width: 100%;
}
p.card_section_text{
  font-size: 40px;
  margin: auto;
}
.info_sell_text_header{
  font-size: 60px;
  font-weight: 600;
  margin: auto;
}
.info_sell_text .info_sell_text_paragraph{
  font-size: 30px;
  font-weight: 300;
}
.info_sell .yanga-beauty, .info_sell .creator_img{
  width: 100%;
}
img.famasi_image, img.footcity_image, img.creator_img{
  min-width: 900px;
  min-height: 500px;
}
img.yanga-beauty{
  min-width: 900px;
  min-height: 500px;
}
/* build_sec */
.build_sec#build_sec{
  min-width: 100%;
}
/* payments section */


}
